p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.hanging-indent {
    padding-left: 22px;
    text-indent: -22px;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
  color: #00a !important;
}
.book.color-theme-2 code span.fu {
  color: #99f !important;
} 